<div class="content-wrapper">
  <div class="card-header">
    <div class="row">
      <div class="col-6">
        <i class="fa fa-table"></i> Envelopes Live Status
      </div>
      <div class="col-6">
        <span class="pull-right">
          <div class="fixed-action-btn">
            <%= button_tag(:type => 'button', class: 'btn btn-default') do %>
              <%= link_to(search_live_statuses_path, class: 'link-to-text-color') do %>
                <i class="fa fa-fw fa-search"></i>Search
              <% end %>
            <% end %>
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div id=dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
        <div class="row top-buffer">
          <div class="col-sm-12">
            Please only use this function when envelope in Masterlist does not show completed
          </div>
        </div>
      </div>
    </div>
  </div>
</div>