/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "font-awesome";
@import "bootstrap";


.content-wrapper-dashboard {
  text-align: center;
  padding-top: 100px;
}


.content-wrapper {
  margin:140px -120px 0px -120px;
  font-size:17px;
}


.content-wrapper-table {
  margin:20px -120px 0px -120px;
  font-size:17px;
}


.notice-wrapper {
  margin:80px -120px -70px 40px;
  font-size:25px;
  color:#d11010;
}


.top-buffer { margin-top:20px; }


th {padding:20px 10px; font-size:15px; color:#000; background:#c4c4c4;} // padding: top-bottom left-right
td {padding:20px 10px; font-size:15px; height:35px; word-wrap: break-word}
th, td {min-width: 100px; max-width: 300px;}
.check-box {padding:15px 15px; min-width: 50px;}
.download_env {padding:15px 15px; min-width: 100px;}



.link-to-text-color {
  text-decoration:none !important;
  color:#000;
}

.note_class {min-width: 300px;}
.borderless td, .borderless th {
  border: none;
}



//// table - create envelope
//.create-table-outter {margin:40px -120px 40px -120px;} // border:1px solid red; to put a red solid border around the whole table
//.create-table {table-layout: auto; width: 1000px; margin:40px 10px 40px 10px;} // top right bottom left margin of table
//.create-table, td, th {border-collapse:collapse; border:1px solid #777;}
//th {padding:20px 10px; font-size:15px; color:#000; background:#c4c4c4;} // padding: top-bottom left-right
//td {padding:20px 10px; font-size:15px; height:35px; word-wrap: break-word}
//
//.create-table-outter {overflow-x: scroll;}
//th, td {min-width: 100px; max-width: 300px;}
//th.first {padding:20px 15px; min-width: 50px;}
//td.first {padding:20px 15px; min-width: 50px;}
//td.last {padding:20px 15px; min-width: 50px; border-top: 1px solid #FFF; border-right: 1px solid #FFF; border-bottom: 1px solid #FFF;}
//
//
//// table - void envelope
//.void-table-outter {margin:80px -120px 40px -120px;} // border:1px solid red; to put a red solid border around the whole table
//.void-table {table-layout: fixed; width: 100%; margin:40px 10px 40px 10px;} // top right bottom left margin of table
//.void-table {border-collapse:collapse; border:1px solid #777;}

// delete selected button
//.delete-table-outter {margin:40px -120px 40px -120px;}